* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, #root, .App {
    height: 100vh;
    width: 100vw;
}

.adminpanel {
    height: 100%;
    width: 60%;
    margin: auto;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 24px;
    box-shadow: 0 0 5px 0;
}

.adminpanel-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 12px;
    padding: 12px;
    border-radius: 8px;
    height: 100%;
    border: 1px solid black;
    overflow: auto;
    background-color: #fff;
}

.item {
    padding: 16px;
    border: 2px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    box-shadow: 0 0 3px 0;
    background-color: #eee;
}

.item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-username {
    font-size: 24px;
    font-weight: bold;
}

.item-date {
    font-size: 16px;
    font-weight: bold;
}

.comment {
    font-size: 18px;
}

.logout {
    font-size: 24px;
    font-weight: 700;
    padding: 8px;
    border: 2px solid black;
    outline: none;
    border-radius: 12px;
    box-shadow: 0 0 3px 0;
    color: black;
    background-color: rgb(128, 128, 252);
    cursor: pointer;
}

.seekbar-container {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.seekbar-container input {
    width: 100%;

}

.seekbar-container span {
    font-weight: bold;
}

.seekbar-container input::-webkit-slider-runnable-track,
.seekbar-container input::-moz-range-track,
.seekbar-container input::-ms-track {

}

.seekbar-container input[type='range']::-webkit-slider-thumb,
.seekbar-container input[type='range']::-moz-range-thumb,
.seekbar-container input[type='range']::-ms-thumb {
    
}

.container-extra {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container, .signup-container {
    width: 30%;
    min-width: 400px;
    padding: 16px;
    box-shadow: 0 0 5px 0;
    border-radius: 8px;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    background-color: #eee;
}

.title {
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.form {
    background-color: #fff;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.form input {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
}

.form button {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    padding: 8px;
    border: none;
    color: white;
    background-color: #04AA6D;
    cursor: pointer;
}

.form button:hover {
    opacity: 0.8;
}

.login-signup {
    text-align: center;
    font-size: 18px;
}

.login-signup u {
    font-weight: bold;
    cursor: pointer;
}